{% load staticfiles %}
<div class="banner clearfix">
    <div class="container">
        <h2 class="banner-title">Clean Serviços</h2>
        <h2 class="banner-desc">
            21 anos de confiança e primor em terceirização de serviços de limpeza
        </h2>
    </div>
</div>
<nav class="non-fixed">
    <div class="container">
        <a href="{% url 'home' %}" class="nav-logo"></a>
        <a href="#contato" class="nav-item">Contato</a>
        <a href="#clientes" class="nav-item">Clientes</a>
        <a href="#servicos" class="nav-item">Serviços</a>        
        <a href="#empresa" class="nav-item">Empresa</a>            
    </div>
</nav>